.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 1920px), (min-width: 1920px) {
  .App {
    max-width: 1300px;
  }
}
@media all and (max-width: 1600px) {
  .App {
    max-width: 82%;
  }
}
@media all and (max-width: 1024px) {
  .App {
    max-width: 832px;
  }
}
@media all and (max-width: 832px) {
  .App {
    max-width: 99%;
  }
}
.ant-form-item-explain {
  display: none;
}
.ant-form-inline .ant-form-item {
  flex-wrap: none !important;
  flex: 1 1 !important;
  margin-right: 10px !important;
}
.ant-form-inline .ant-form-item:last-child {
  flex: none !important;
  margin-right: 0;
}
.ant-input-affix-wrapper {
  padding-right: 3px !important;
  padding-left: 5px !important;
}
